footer {
  background-color: white;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: -1px -1px 5px black;
  position: fixed;
  z-index: 1;
}

footer a {
  color: gray;
}

.social {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-grow: 1;
  border-right: 2px solid gray;
}

.social p {
  font-size: 26px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.sign {
  color: gray;
  flex-grow: 2;
  padding-left: 20px;
}

/* footer:after {
  border: 2px solid black;
  content: "";
  width: 150px;
  height: 150px;
  top: -100px;
  right: -50px;
  position: absolute;
  z-index: -1;
} */
