@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 100%;
}

main {
  background-color: gray;
  margin: 67px 0;
  width: 100%;
  height: calc( 100vh - 134px);
  padding: 20px;
}
