@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: gray;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 100%;
}

main {
  background-color: gray;
  margin: 67px 0;
  width: 100%;
  height: calc( 100vh - 134px);
  padding: 20px;
}
/* 
main:before {
  border: 2px solid white;
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  top: -50px;
  left: -50px;
}

main:after {
  border: 2px solid white;
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -50px;
  right: -50px;
} */
